<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/components/css/footer.css">
</head>
    <footer class="main-footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3> About Us </h3>
                <p> AidSync connects volunteers with foundations through an easy and 
                    modern platform, making social help faster and more accessible. </p>
               <center><img src="/public/assets/logos/logofooter.png" alt="AidSync Logo" class="footer-logo" height="150px" width="150px"></center> 
            </div>

            
            <div class="footer-section">
            <h3> Quick Links </h3>
                <ul>
                    <li><a href="/public/pages/volunteer.html">Volunteer</a></li>
                    <li><a href="/public/pages/about.html">About us</a></li>
                    <li><a href="/public/pages/blog.html">Blog</a></li>
                    <li><a href="/public/pages/contact.html">Contact us</a></li>
                </ul>
            </div>
        
            <div class="footer-section">
                <h3>Contact Us</h3>
                <div class="social-links">
                  <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="mailto:contact@aidsync.org" aria-label="Email">
                    <i class="fas fa-envelope"></i>
                  </a>
                </div>
              </div>
            
            <div class="footer-section newsletter">
                <h3>Subscribe to Our Newsletter</h3>
                <form class="newsletter-form">
                    <input type="email" placeholder="Your email address" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    
        <div class="footer-bottom">
            <p>&copy; 2025 All Rights Reserved | <a href="/public/pages/privacypolicy.html">Privacy Policy</a> | <a href="/public/pages/termsandcondition.html">Terms and Conditions</a></p>
        </div> <!-- Fht -->
    </footer>
