<link rel="stylesheet" href="/src/components/css/footer.css">
<footer class="main-footer">
    <h2>Let's <span style="color:#003d66; ;">Connect</span> there</h2>
    <div class="footer-row">
      <div>
        <strong>AidSync</strong>
        <p>Your time, their hope, one sync away</p>
        <div class="social-icons">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-gmail"></i>
        </div>
      </div>
      <div>
        <strong>Navigation</strong>
        <p>Our Team</p>
        <p>Contact Us</p>
        <p>About Us</p>
        <p>FAQs</p>
      </div>
      <div>
        <strong>Contact</strong>
        <p>gmail </p>
      </div>
      <div>
        <strong>Get the latest information</strong>
        <div class="email-subscribe">
          <input type="email" placeholder="Email address" />
          <button>&#10148;</button>
        </div>
      </div>
    </div>
    <div class="footer-bottom"><center>
        © 2025 AidSync. All rights reserved.|
    </center></div>
  </footer>